<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Welcome To The Gossip Project</h1>
    <h2>Do you want to tell us a gossip ? <br/>
    Don't waste time, <a href="/gossips/new/">tell</a> before you forget it</h2>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>