<html>
  <head>
    <title>Create your fucking gossip</title>
  </head>
  <body>
    <h1>Create your fucking gossip !</h1>
    <p>Spread your gossip via the form below</p>
    <form action='/gossips/new/' method='POST'>
      Your name please :  <input type='text' name='gossip_author'/><br/>
      Your gossip please : <input type='text' name='gossip_content'/><br/>
      <input type='submit' value='Gossip'/>
    </form>
  </body>
</html>